*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.header{
    width: 100%;
    height: 20%;
    border: 1px solid black;    
}
.header-nav{
    display: flex;
    justify-content: space-between;
}
.header-nav__article{
    width: 50%;
    font-size: 2rem;
    padding-left: 5%;
}
.header-nav ul{
    width: 50%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-nav li {
    width: 50%;
}
.header-nav li:hover{
    color: rgb(51, 102, 187);
    text-decoration: underline;
}
.main{
    height: 60%;
    background-image: url("../assets/wallpaper.png");
    padding-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hat{
    display: flex;
    justify-content: center;
    position: absolute;
}
.hat-figure{
    width: 120px;
    height: 120px;
}
.hat-figure img{
    width: 100%;
    height: 100%;
    border: 5px solid white;
    border-radius: 100%;
}
.card{
    width: 90%;
    background-color: white;
    margin-top: 60px;
    border-radius: 5px;
}
.card-header{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
.card-header__figure{
    width: 267px;
    height: 134px;
}
.card-header__figure img{
    width: 100%;
    height: 100%;
}
.card-description{
    font-size: 1.6rem;
    text-align: center;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
}
.card-counter{
    font-size: 1.6rem;
    text-align: center;
    margin-top: 5%;
}
.card-social{
    font-size: 1.6rem;
    text-align: center;
    margin-top: 5%;
}
.card-categories{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}
.card-products{
    margin-top: 5%;
}
.card-products__article{
    display: flex;
    flex-wrap: wrap;
}
.card-products__article figure{
    width: 50%;
    height: 100%;
}
.card-products__article img{
    width: 100%;
    height: 100%;
}
.product-details{
    width: 50%;
    height: 100%;
}
.product-details__title{
    font-weight: bold;
    margin-bottom: 5%;
}
.product-details__price{
    font-weight: bold;
}




